<template name="posts">
  <table class="table posts">
  	<thead>
      <tr>
        <th>title</th>
        <th>author</th>
        <th>body</th>
        <th>delete</th>
      </tr>
  	</thead>
    <tbody>
      {{#each posts}}
      <tr class="post">
        <td>
          {{title}}
        </td>
        <td>
          {{author}}
        </td>
        <td>
          {{body}}
        </td>
        <td>
          {{#autoForm schema="Posts" doc=this}}
            <button type="submit" class="btn btn-primary remove">Delete</button>
          {{/autoForm}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
